{% extends "base.html" %}

{% block additionalHeadCSS %}
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
{% endblock additionalHeadCSS %}

{% block container %}
      <div class="starter-template">
        <h1>Actions</h1>
        <p class="lead"><a href="/setup/create">Create New Document Setup</a></p>
        <h2>Saved and Personalized Version</h2>
        <p class="lead"><a href="/api/latest/id">Company Name w/clarifier</a></p>
      </div>
{% endblock container %}
