{% extends "base.html" %}

{% block additionalHeadCSS %}
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
{% endblock additionalHeadCSS %}

{% block container %}
      <div class="starter-template">
        <h2>Saved and Personalized</h2>
        {% for doc in default_docs %}          
            <p class="lead"><a href="{% url 'recipie.views.view_default_doc' doc.id %}">{{doc.id}}</a></p>
        {% empty %}
            <p class="lead">There are no documents to download...yet.</p>
        {% endfor %}
      </div>
{% endblock container %}
