{% extends "base.html" %}
{% load compress %}
{% block additionalHeadCSS %}
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
{% endblock additionalHeadCSS %}

{% block container %}
    <div class="starter-template">
        <div id="docs"></div>
        {% compress js %}
        <script src="/static/js/default_docs.jsx" type="text/jsx" charset="utf-8"></script>
        {% endcompress %}
    </div>
{% endblock container %}
